.header {
  padding: 40px 0;
  width: 100%;
  position: fixed;
  top: 0;
  background: rgba(16, 16, 29, 0.9);
}

.header__grid {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 60px;
}

.header__nav {
  display: flex;
  gap: 20px 60px;
  align-items: center;
  flex-wrap: wrap;
}

.header__nav-link {
  color: var(--white);
  font-family: var(--primary-font);
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
}

.header__nav-link--active {
  color: var(--accidental);
}
