.order {
  padding-top: 120px;
  padding-bottom: 150px;
  background-color: var(--bg-dark);
  background-image: url('../images/backgrounds/order-backgrouns.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  font-family: var(--primary-font);
  color: var(--white);
}

.order__title,
.order__description {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.order__description {
  font-weight: 400;
  font-size: 18px;
  color: var(--gray);
}

.order__work-scheme {
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-column: 1 / 4;
  padding-top: 50px;
  padding-bottom: 80px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.order__work-scheme-item {
  position: relative;
  width: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
}

.order__work-scheme-item + .order__work-scheme-item::before {
  position: absolute;
  content: '• • • • •';
  left: -35%;
  top: 50px;
  font-size: 35px;
  line-height: 0;
  color: var(--gray);
}

.order__work-scheme-icon {
  border-radius: 100%;
  width: 100px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: var(--accidental);
  border: 5px solid var(--btn-fill-active);
}

.order__work-scheme-description {
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--white);
}

.order__work-scheme-icon svg {
  fill: var(--white);
}

.order__form-submit {
  width: 100%;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2 / 3;
  -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
}

.order__form-text-input  {
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.85);
  font-weight: 400;
  font-size: 18px;
  color: var(--bg-dark);
}

.order__form-text-input::-webkit-input-placeholder  {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--bg-dark);
}

.order__form-text-input::-moz-placeholder  {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--bg-dark);
}

.order__form-text-input:-ms-input-placeholder  {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--bg-dark);
}

.order__form-text-input::-ms-input-placeholder  {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--bg-dark);
}

.order__form-text-input::placeholder  {
  font-weight: 400;
  font-size: 18px;
  line-height: 18px;
  color: var(--bg-dark);
}

.order__form-range {
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-column: 1 / 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 20px;
}

.order__form-range-input {
  -webkit-appearance: none;
  width: 100%;
  height: 8px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.7);
  outline: none;
  -webkit-transition: background .2s;
  -o-transition: background .2s;
  transition: background .2s;
  cursor: pointer;
  border: 1px solid var(--white);
}

.order__form-range-input::-webkit-slider-thumb {
  width: 24px;
  height: 24px;
  border: 3px solid var(--btn-fill-active);
  border-radius: 50%;
  background: var(--accidental);
  -webkit-appearance: none;
  appearance: none;
}

.order__form-range-value {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: var(--white);
  opacity: 0.85;
}

.order__form-file-button {
  border: 2px solid var(--accidental);
  border-radius: 3px;
  padding: 10px;
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  color: var(--bg-dark);
  font-weight: 600;
  font-size: 15px;
  text-transform: uppercase;
}

.order__form-file-button:active {
  -webkit-box-shadow: 0 0 10px 12px rgba(26, 18, 36, 0.2) inset;
          box-shadow: 0 0 10px 12px rgba(26, 18, 36, 0.2) inset;
}

.order__form-system-select {
  position: relative;
}

.order__form-select-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 3px;
  padding: 10px;
  background: rgba(255, 255, 255, 0.85);
  font-weight: 400;
  font-size: 18px;
  color: var(--bg-dark);
  cursor: pointer;
}

.order__form-select-button svg {
  fill: var(--bg-dark);
}

.list--opened .order__form-system-list {
  height: 180px;
  opacity: 1;
  z-index: 20;
}

.list--opened .order__form-select-button {
  background: var(--bg-light-dark);
  color: var(--white);
  border: none;
}

.list--opened .order__form-select-button svg {
  -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
          transform: rotate(180deg);
  fill: var(--white);
}

.order__form-system-list {
  position: absolute;
  top: 40px;
  left: 0;
  width: 100%;
  height: 0;
  opacity: 0;
  border: 1px solid var(--bg-light-dark);
  overflow: scroll;
  overflow-x: hidden;
  background: var(--bg-dark);
  z-index: -10;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}

.order__form-system-list::-webkit-scrollbar {
  width: 7px;
}

.order__form-system-list::-webkit-scrollbar-track {
  background-color: var(--bg-light-dark);
}

.order__form-system-list::-webkit-scrollbar-thumb {
  background-color: var(--accidental);
  border-radius: 6px;
}

.order__form-system-list li {
  list-style: none;
  padding-top: 15px;
  padding-left: 10px;
  cursor: pointer;
  -webkit-transition: color 0.4s;
  -o-transition: color 0.4s;
  transition: color 0.4s;
}

@media (hover: hover) and (pointer: fine) {
  .order__form-file-button:hover {
    background-color: var(--btn-white-hover);
  }

  .order__form-range-input:hover {
    background: rgba(255, 255, 255, 1);
  }

  .order__form-system-list li:hover {
    color: var(--accidental);
  }
}

@media (max-width: 1220px) {
  .order__work-scheme-item {
    position: static;
  }

  .order__work-scheme-item::before {
    display: none;
  }

  .order__work-scheme {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
  }
}

@media (max-width: 920px) {
  .order__form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
