:root {
  --primary-font: 'Lato';

  --accidental: #3E9CDC;
  --bg-dark: #272733;
  --bg-light-dark: #3D4050;
  --white: #fff;
  --gray: #C3C3C3;
  --black: #000;
  --btn-text-dark: #2A2B30;
  --btn-fill-hover: #378ac2;
  --btn-white-hover: #d1d1d1;
  --btn-fill-active: #286690;
  --btn-border-dark: #6F6D7B;
}
